@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-body: "Poppins", sans-serif;
}

@layer base {

  .headline,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-mono);
  }

  .body,
  div,
  p,
  a {
    font-family: var(--font-body);
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

@layer utilities {
  .headline-gradient {
    --color-start: var(--color-violet-500);
    --color-end: var(--color-blue-500);
    background: linear-gradient(to right in oklab, var(--color-start), var(--color-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    .dark & {
      background: linear-gradient(to right in oklab, var(--color-cyan-200), var(--color-orange-200));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}
