@import 'tailwindcss';

@custom-variant dark {
  @media (scripting: enabled) or (scripting: initial-only) {
    &:where(.dark, .dark *) {
      @slot;
    }
  }

  @media (scripting: none) and (prefers-color-scheme: dark) {
    @slot;
  }
}

@custom-variant light {
  @media (scripting: enabled) or (scripting: initial-only) {
    &:not(.dark, .dark *) {
      @slot;
    }
  }

  @media (scripting: none) and (prefers-color-scheme: light) {
    @slot;
  }
}

@theme {
  --font-mono: "JetBrains Mono Variable", monospace;
  --font-body: "Poppins", sans-serif;
}

@layer base {

  .headline,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-mono);
  }

  .body,
  div,
  p,
  a {
    font-family: var(--font-body);
  }

  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 500ms;
  }
}

@layer utilities {
  .headline-gradient {
    --color-start: var(--color-violet-500);
    --color-end: var(--color-blue-500);
    background: linear-gradient(to right in oklab, var(--color-start), var(--color-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    .dark & {
      --color-start: var(--color-cyan-200);
      --color-end: var(--color-violet-200);
    }

    @media (scripting: none) and (prefers-color-scheme: dark) {
      --color-start: var(--color-cyan-200);
      --color-end: var(--color-violet-200);
    }
  }
}
